<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Test</title>
<!-- <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"> -->
<link href="https://cdn.bootcss.com/element-ui/1.4.2/theme-default/index.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/style.css">
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/element-ui/1.4.2/index.js"></script>
</head>
<body style="padding: 0px">
<div id="app">
<header>
<div class="container" style="margin-bottom: 5px">
	<ul class="el-menu el-menu-demo el-menu--horizontal el-menu--dark">
		<li class="el-menu-item is-active"><a href="/">home</a></li>
		<li class="el-menu-item"><a href="/login">login</a></li>
		<li class="el-menu-item"><a href="/reg">register</a></li>
	</ul>
</div>
</header>
