<%- include header %>

<el-row>
  <el-col :span="4"><div class="grid-content bg-purple"><%- include left %></div></el-col>
  <el-col :span="20"><div class="grid-content bg-purple-light">dsds</div></el-col>
</el-row>




</div>
<script type="text/javascript">
	var app = new Vue({
	  el: '#app',
	  data: {
	    message: 'Hello Vue!'
	  }
	});
</script>
<%- include footer %>