<%- include header %>

<el-row>
<el-col :span="4"><div class="grid-content bg-purple"><%- include left %></div></el-col>
<el-col :span="20">
<el-button @click="dialogFormVisible = true">add</el-button>
<el-table :data="tableData" border style="width: 100%">
	<el-table-column prop="id" label="id" width="180"></el-table-column>
	<el-table-column prop="e_content" label="e_content" width="180"></el-table-column>
	<el-table-column prop="c_content" label="c_content" width="180"></el-table-column>
	<el-table-column prop="image_path" label="image" width="180"></el-table-column>
	<el-table-column prop="gmt_create" label="gmt_create" width="180"></el-table-column>
	<el-table-column prop="gmt_modified" label="gmt_modified" width="180"></el-table-column>
	<el-table-column label="operate">
      <template scope="scope">
        <el-button @click="handleClick((scope.$index, scope.row))"  size="small">edit</el-button>
        <el-button @click="handleDelete((scope.$index, scope.row))" size="small" type="danger">delete</el-button>
      </template>
    </el-table-column>
</el-table>
</el-col>
</el-row>

<el-dialog title="add" :visible.sync="dialogFormVisible">
  <el-form :model="form">
    <el-form-item label="e_content" :label-width="formLabelWidth">
      <el-input v-model="form.e_content" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="c_content" :label-width="formLabelWidth">
      <el-input v-model="form.c_content" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item >
    	<el-upload
		  action="/upload"
		  list-type="picture-card"
		  :multiple=false
		  :on-success="handleUploadSuccess">
		  <i class="el-icon-plus"></i>
		</el-upload>
		<el-dialog v-model="dialogVisible" size="tiny">
		  <img width="100%" :src="dialogImageUrl" alt="">
		</el-dialog>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="dialogFormVisible = false">取 消</el-button>
    <el-button type="primary" @click="handleAdd">确 定</el-button>
  </div>
</el-dialog>


</div>
<script type="text/javascript">
	var app = new Vue({
	  el: '#app',
	  data: {
	    message: 'Hello Vue!',
	    tableData:<%- tableData%>,
	    dialogFormVisible: false,
	    form: {
          e_content: '',
          c_content: '',
          date1: '',
          date2: '',
          delivery: false,
          type: [],
          resource: '',
          desc: ''
        },
        formLabelWidth: '120px',
        dialogImageUrl: '',
        dialogVisible: false,
        image_path: ''
	  },
	  created:function(){


	  },
	  methods:{
	  	handleClick:function(index,row){
	  	
	  	},
	  	handleDelete:function(index,row){
	  	
	  	},
	  	handleAdd(){

	  	},
	  	handleUploadSuccess(res, file){
	  		this.imageUrl = URL.createObjectURL(file.raw);
	  		console.log(this.imageUrl);

	  	}
	  }
	});
</script>
<%- include footer %>